/* 캠핑존 페이지 css */
.h1 {
  font-size: 24px;
  font-weight: 600;
}
.backWidth {
  margin: 0 auto;
  padding: 40px 0;
}
.campAreaWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.campArea {
  max-width: 419px;
  border: 1px solid #333;
  border-radius: 37px;
  height: 250px;
  padding: 20px;
}
.areaHead {
  width: 100%;
  float: left;
}

.h3 {
  display: inline;
  float: left;
  font-size: 20px;
  font-weight: 600;
}
.deleteCardBtn {
  float: right;
  cursor: pointer;
  background: none;
}

.img {
  display: block;
  float: left;
  margin-top: 10px;
}
.textBox {
  float: left;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
  margin-left: 39px;
  width: 180px;
}
.textAlign {
  float: left;
  margin-right: 10px;
}

.addCampArea {
  max-width: 590px;
  border: 1px solid #333;
  border-radius: 37px;
  height: 250px;
  padding: 20px;
  display: flex;
  cursor: pointer;
}
.btnWrap {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

/* 캠핑존 모달 css */
.modalUP {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.wrap {
  width: 387px;
  margin: 40px auto;
  border-radius: 37px;
  padding: 52px 31px;
  background: #fff;
}
.addCampAreaHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.campAreaH1 {
  font-size: 24px;
  font-weight: 700;
}
.closeBtn {
  cursor: pointer;
}

.formLayout {
  display: grid;
  margin: 26px 0 0;
  row-gap: 20px;
}

.campAreaNameWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campAreaH3 {
  font-size: 16px;
}
.campAreaNameWrap > input {
  width: 198px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: transparent;
  margin-left: 20px;
  padding: 10px;
  height: 40px;
}

.campAreaMaxPeople {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campAreaMaxPeople > input {
  width: 80px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: transparent;
  margin-left: 20px;
  height: 40px;
  padding: 10px;
}

.campAreaPriceWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campAreaPriceWrap > input {
  width: 188px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: transparent;
  height: 40px;
  padding: 10px;
  margin: 0 20px;
}

.addedCampAreaImgWrap {
  margin-top: 15px;
  position: relative;
  width: 286px;
}

.removeImgBtn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 0;
  margin: 8px;
}

.uploadCampAreaImgWrap {
  margin-top: 15px;
}
.displayNone {
  display: none;
}
.uploadCampAreaImg {
  cursor: pointer;
}

.addCampAreaBtnWrap {
  margin: 0 auto;
}
.addCampAreaBtn {
  font-size: 16px;
  background: #e2e2e2;
  padding: 0;
  width: 79px;
  height: 39px;
  font-weight: 500;
  cursor: pointer;
}
