.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100vh;
  gap:12px;
}

.buttons-container {
  display: flex;
  flex-direction:column;
  gap:12px;
}