.container {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.container div {
  display: flex;
  align-items: center;
}

.container p {
  font-size: 14px;
  color: var(--netural-400);
  font-weight: normal;
  margin-left: 4px;
}

.container span {
  font-weight: bold;
}

.star {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}
