.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
}

.BtnWrap {
  display: flex;
}

.container h3 {
  font-size: 32px;
}

.container h4 {
  font-size: 24px;
  padding: 8px;
}
