.addressWrap {
  display: flex;
  font-size: 14px;
  padding: 8px 0;
}

.address {
  display: flex;
  align-items: center;
}

.address div {
  color: var(--netural-400);
}

.addressWrap button {
  background: transparent;
  color: #5685ff;
  cursor: pointer;
  font-size: 12px;
}
