.wrap {
  display: flex;
  align-items: center;
}

.btn {
  padding-left: 4px;
  background: transparent;
  cursor: pointer;
}

.commuWrap span {
  font-weight: bold;
}

.svg:hover {
  opacity: 0.5;
}
