.title {
  font-size: 1.5rem;
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.close-btn {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
}

.div {
  display: flex;
  flex-direction: column;
}

.camp-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1rem 0.8rem;
  background-color: var(--reservation-info-bg-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
}

.camping-zone {
  color: var(--reservation-info-color);
  margin-right: 0.2rem;
}

.camp-name {
  font-weight: 600;
  color: #030712;
  margin-right: 0.5rem;
}

.camp-area-name {
  font-weight: 600;
}
