.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reservation-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  background-color: var(--reservation-info-bg-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 0.8rem 1rem 0.8rem;
}

.span {
  color: var(--reservation-info-color);
  margin-right: 1.2rem;
}

.people-count::-webkit-inner-spin-button,
.people-count::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 34px;
  width: 23px;
  cursor: pointer;
}

.people-count {
  width: 50px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}

.dates {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.date {
  font-weight: 600;
  color: var(--light-gray-color);
}

.hour {
  font-size: 0.9rem;
}

.divider {
  width: 50%;
  border: 1px solid #d9d9d9;
  margin: 1.5rem 0;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.div {
  display: flex;
}

.prices {
  padding: 0 0.5rem;
}

.price {
  color: var(--price-color);
}

.total {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.total2 {
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.vertical-divider {
  height: 340px;
  border-left: 1px solid #d9d9d9;
  border-style: dashed;
  position: absolute;
  left: 50%;
  top: 20%;
  margin: 0 1.5rem;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  position: absolute;
  left: 55%;
  top: 15%;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  width: 270px;
  height: 32px;
  border: 1px solid #adb0b7;
  color: var(--neutral-400);
  border-radius: 0.5rem;
  padding: 10px;
}

.input:focus {
  border: 1px solid #030712;
}

.people-errors {
  font-size: 14px;
  color: var(--negative-400);
  margin-left: 3rem;
}

.errors {
  font-size: 14px;
  color: var(--negative-400);
  margin-left: 5rem;
}

.method {
  position: absolute;
  top: 55%;
  left: 55%;
  padding: 1rem;
}

.ul {
  display: flex;
  gap: 1rem;
}

.li {
  width: 70px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--neutral-700);
  border: 2px solid var(--neutral-200);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.li:hover,
.button:hover {
  cursor: pointer;
}

.li.selected {
  border: 1px solid var(--primary-600);
}

.button {
  width: 100%;
  height: 35px;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-top: 1rem;
  background-color: var(--primary-500);
}

.button:disabled {
  color: black;
  background-color: var(--neutral-100);
}
