.h1 {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}
/* 등록된 캠핑장 없을 때 */
.emptyCampContainer {
  width: 357px;
  margin: 185px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.button {
  border: 1px solid #d9d9d9;
  background: transparent;
  font-size: 24px;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin: 35px 0;
}

/* 등록된 캠핑장 있을 때 */
.campWrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.campHeader {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.campHeaderLeft {
  font-size: 18px;
  display: block;
  width: 690px;
  text-align: center;
}
.campHeaderRight {
  font-size: 18px;
  display: block;
  width: 185px;
  text-align: center;
}
.separateLine {
  border-top: 1px solid #404557;
  margin-top: 20px;
  margin-bottom: 25px;
}
.campBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campNameWrap {
  margin-left: 36px;
  width: 560px;
}
.campName {
  font-size: 20px;
  font-weight: 600;
}
.preview {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: #5685ff;
  cursor: pointer;
}
.editWrap {
  width: 185px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.editWrap > button {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 16px;
  background: none;
  cursor: pointer;
}
.separateLineTwo {
  border-top: 1px solid #d4d5d9;
  margin-top: 20px;
  margin-bottom: 25px;
}

/* 캠핑장 추가 등록 버튼 */
.moreAddCamp {
  font-size: 20px;
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}
