.modalbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  background: #fff;
  padding: 0 24px 8px 24px;
  border-radius: 8px;
  z-index: 999;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.btn button {
  cursor: pointer;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.edit {
  display: flex;
  justify-content: space-between;
}

.upload {
  display: none;
}

.modalSlide {
  display: block;
  width: 54%;
}

.Con {
  min-width: 400px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.user img {
  border-radius: 50%;
  margin-right: 8px;
}

.textCon textarea {
  width: 100%;
  min-height: 447px;
  border: none;
}

.textCon input {
  width: 100%;
  border: none;
}

.tagsCon input {
  width: 100%;
  border: none;
}

.tagsCon {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 13px;
  width: 100%;
  height: 100px;
  line-height: 22px;
  overflow-y: auto;
  padding: 8px;
}

.tagsCon span {
  color: #fff;
  word-wrap: break-word;
  background-color: #4db635;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 6px 0;
  padding: 0 3px;
  position: relative;
  vertical-align: top;
  word-break: break-all;
}
