.container {
  max-width: 1200px;
  margin: 0 auto;
}

.create {
  display: flex;
  justify-content: space-between;
}

.upload {
  display: none;
}

.textCon {
  width: 400px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.user img {
  border-radius: 50%;
  margin-right: 8px;
}

.textCon label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.textCon textarea {
  width: 100%;
  min-height: 300px;
  border: none;
}

.textCon input {
  width: 100%;
  border: none;
}

.tagsCon {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 13px;
  height: 72px;
  line-height: 22px;
  overflow-y: auto;
  padding: 8px;
  width: 366px;
}

.tagsCon span {
  color: #fff;
  word-wrap: break-word;
  background-color: #4db635;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 6px 0;
  padding: 0 3px;
  position: relative;
  vertical-align: top;
  word-break: break-all;
}

.tagsCon p {
  padding: 0 2px;
}

.tagsCon button {
  background: transparent;
  padding: 0;
}
