.modalbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  z-index: 999;
}

.modalFlex {
  display: flex;
  justify-content: space-between;
}

.modalSlid {
  display: block;
  width: 54%;
}

.scroll {
  height: 700px;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* 파이어폭스 */
}

.scroll > li {
  padding: 16px 8px;
  border-bottom: 1px dashed var(--neutral-300);
}
.scroll > li:last-child {
  border-bottom: none;
}

.commentWrap {
  width: 43%;
}

.users img {
  border-radius: 50%;
  margin-right: 8px;
}

.users {
  display: flex;
  align-items: center;
}

.scroll p {
  padding: 8px 0;
}

.created {
  font-size: 12px;
  color: #919191;
}

.submitWrap {
  padding: 8px 16px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
}

.submitWrap input {
  border: transparent;
  height: 40px;
  width: 88%;
  font-size: 14px;
}

.submitWrap button {
  color: var(--primary-700);
}

.submitWrap button:disabled {
  color: var(--neutral-200);
}

.noComment {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
