:root {
  --price-color: #fbb900;
  --reservation-info-color: #999999;
  --reservation-info-bg-color: rgb(244, 229, 215, 30%);
  --light-gray-color: rgb(64 64 64);
}

* {
  box-sizing: border-box;
  font-style: normal;
  line-height: normal;
}

input,
textarea {
  outline: none;
}

button {
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration-line: none;
  color: inherit;
}
