.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 17px;
  gap: 12px;
}

.content-container {
  display: flex;
  width: 402px;
  height: 69px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.content-container label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-container input {
  display: flex;
  width: 402px;
  height: 48px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--neutral-400, #ADB0B7);
}

.login-btn {
  display: flex;
  width: 402px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--neutral-100, #E7E9E6);
  background: var(--neutral-300, #BFC1C7);
  color: var(--base-white, #FFF);
  font-size: 16px;
  cursor: pointer;
}

.validation span{
  display: flex;
  color: var(--negative-negative_400, var(--negative-400, #F5667A));
}