.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.img-wrapper {
  width: 124px;
  height: 96px;
  flex-shrink: 0;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
}

.buttons-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 45.5px;
}

.divider {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: #000;

  /* 16px_Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bar {
  width: 171px;
  height: 1px;
  background: var(--neutral-100, #E7E9E6);
}

.signup {
  display: flex;
  width: 402px;
  align-items: center;
  gap: 168px;
  margin-top: 4px;
}