.wrap {
  width: 1200px;
  margin: 0 auto;
}
.tabTitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.left {
  width: 220px;
}
.right {
  width: 960px;
  min-height: 1123px;
  border: 1px solid #e6e6e9;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 40px;
}
