.container {
  padding: 50px 0;
  border: 1px solid #e6e6e9;
  border-radius: 16px;
  height: 570px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.menuTextContain {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-left: 47px;
}
.sidebarItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #8c8f9a;
  font-weight: 600;
}
.sidebarItem:hover {
  color: #000;
}
.sidebarItemMycamp {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}
.sidebarItemMycamp:hover {
  background: #bbb;
}
.myCampItem {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding-left: 150px;
  cursor: pointer;
}
.myCampItem:hover {
  background: #bbb;
}
