.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--neutral-100, #E6E6E9);
  background: var(--base-white, #FFF);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 3rem;
}

.bookmark-header {
  font-size: 24px;
  font-weight: 600;
}