.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 880px;
  height: 144px;
  padding: 2rem 1.5rem;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 1rem 0;
}

.title {
  font-weight: 600;
}

.link {
  width: 105px;
  height: 33px;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  background-color: var(--primary-500);
}
