.container {
  width:960px;
  height:575px;
  display: flex;
  flex-direction: column;
  padding: 50px 40px 0 40px;
  gap:51px;
}

.profile-container {
  width: 718px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.profile-header {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-inner {
  display: flex;
  width: 880px;
  padding: 32px 27px;
  align-items: center;
  gap: 88px;
  border-radius: 8px;
  background: var(--primary-100, #E4F6DF);
}

.profile-container img {
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}

.nickname-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.nickname-header {
  color: #040404;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nickname {
  color: #040404;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nickname img {
  object-fit: contain;
  background: transparent;
}

.nickname-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-btn {
  cursor: pointer;
  background: transparent;
  fill: #E4F6DF;
}

.account-container {
  width: 718px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.account-header {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.account-inner {
  display: flex;
  flex-direction: column;
}

.provider {
  display: flex;
  gap: 36px;
}

.provider-info {
  font-size:16px;
  color: var(--neutral-neutral_500, var(--neutral-500, #8C8F9A));
  font-weight: 400;
}

.provider-inner {
  display: flex;
  flex-direction: column;
}