.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 39px 39px 39px;
  gap: 24px;
}

.hidden {
  display: none;
}

.profile-header {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-wrapper {
  width:120px;
  height:120px;
  cursor: pointer;
}

.img-wrapper img{
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}

.nickname-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nickname-container label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.nickname-container input {
  width: 378px;
  height: 51px;
  flex-shrink: 0;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--neutral-400, #ADB0B7);
}

.submit-btn {
  width: 378px;
  height: 51px;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius:16px;
  cursor: pointer;
  font-family: 'Pretendard';
  border-radius: 4px;
  border: 1px solid var(--neutral-100, #E7E9E6);
  background: var(--primary-500, #6FCF59);
  color: var(--base-white, #FFF);
}

.close-btn {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  background-color: rgba(15, 20, 25, 0.1);
}