.layout {
  width: 960px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--neutral-100, #e6e6e9);
  background: var(--base-white, #fff);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 3rem;
}

.h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

.p1 {
  font-size: 18px;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
}

.th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #dddddd;
}

.p2 {
  width: 75px;
  background-color: #dadada;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
}

.ul {
  height: 320px;
  overflow-y: auto;
}

.ul::-webkit-scrollbar {
  width: 5px;
}

.ul::-webkit-scrollbar-thumb {
  width: 5px;
  height: 101px;
  background-color: #d9d9d9;
}
