.layout {
  padding: 3rem;
}
.h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.p1 {
  width: 85px;
  color: #ffffff;
  background-color: #959595;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
}

.table {
  width: 800px;
  border-collapse: collapse;
  border-spacing: 0;
}

.th {
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.p2 {
  width: 85px;
  background-color: #dadada;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
}
