.li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.div {
  width: 60%;
  display: flex;
  gap: 1.5rem;
}

.created {
  width: 90px;
}

.date {
  width: 120px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.address {
  width: 200px;
  line-height: 1.6;
}

.copy {
  color: #00a3ff;
  cursor: pointer;
}

.button {
  width: 75px;
  height: 30px;
  cursor: pointer;
}
