.td {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid #e6e6e9;
  padding: 1rem 0;
}

.camp-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.camp-name {
  font-size: 18px;
  font-weight: 600;
}

.camp-area-name {
  font-weight: 400;
}

.hour {
}

.button {
  width: 75px;
  height: 30px;
  border: 1px solid var(--primary-600);
  border-radius: 8px;
  color: #030712;
  cursor: pointer;
}

.button.highlight {
  color: white;
  background-color: var(--primary-600);
}

.use-complete {
  font-size: 14px;
  font-weight: 600;
  color: var(--neutral-700);
  margin-left: 350px;
}

.dates {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-left: 2rem;
}

.date {
  font-weight: 600;
  color: var(--neutral-800);
}

.address {
  width: 340px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.copy {
  color: #00a3ff;
  cursor: pointer;
}

.div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
