.td {
  text-align: left;
}

.date {
  width: 120px;
  display: flex;
  flex-direction: column;
}

.div {
  display: flex;
  gap: 1.5rem;
}

.button {
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.address {
  width: 200px;
  line-height: 1.6;
}

.copy {
  color: #00a3ff;
  cursor: pointer;
}

.address {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
