.modal {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtn:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.info {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.2rem 1rem;
}

.h3 {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.span {
  color: var(--reservation-info-color);
}

.campName {
  font-weight: 600;
  color: var(--light-gray-color);
  margin-right: 0.5rem;
}

.campInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--reservation-info-bg-color);
  border-radius: 10px;
}

.divider {
  border: 1px solid #d9d9d9;
}

.prices {
  /* padding: 0.8rem 0 0.8rem 2rem; */
}

.total {
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  color: var(--price-color);
}

.dates {
  display: flex;
  gap: 0.5rem;
}

.date {
  font-weight: 600;
  color: var(--light-gray-color);
}

.hour {
  font-size: 0.9rem;
}

.payInfo {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* position: absolute;
  left: 50%;
  top: 20%; */
  padding-left: 1rem;
}

.pay-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pay {
  display: flex;
  justify-content: space-between;
}
