.sidebar {
  list-style: none;
  width: 282px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  flex-shrink: 0;
  background: #f5f5f5;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 69px;
  justify-content: center;
}

.sidebar-item {
  text-decoration: none;
  font-size: 20px;
  padding: 1rem;
}

.sidebar-item:hover {
  font-weight: bold;
}

.sidebar-item .active {
  font-weight: bold;
}
