.date-input {
  cursor: pointer;
  border: none;
  border-radius: 48px;
  background: var(--neutral-50);
  width:200px;
  padding:12px;
  text-align: center;
  font-weight: 600;
  font-family: 'Pretendard';
}

.calendarRef {
  display: flex;
  gap: 24px;
  background: #fff;
  border-radius: 24px;
  padding: 12px;
  -webkit-box-shadow:0px 0px 12px 5px rgba(145,150,149,0.9);
  -moz-box-shadow: 0px 0px 12px 5px rgba(145,150,149,0.9);
  box-shadow: 0px 0px 12px 5px rgba(145,150,149,0.9);
  border: none;

}

.calendarRef > div > div {
  background: #fff;
}

.calendarRef [aria-selected="true"] {
  border-radius: 50%;
  background: var(--primary-600, #4DB635);
  color:#fff;
  font-weight: 600;
}