.wrap {
    width: 1200px;
}

.popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.popularIntro {
    display: flex;
    align-items: baseline;
    gap: 15px;

}

.popularIntro p:first-child {
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popularIntro p:nth-child(2) {
    font-size: 16px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}

.card {
    width: 265px;
    height: 417px;
    padding: 19px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.campIntro {
    width: 253px;
    height: 318px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.photoWrap {
    width: 253px;
    height: 253px;
    position: relative;
}

.img {
    border-radius: 16px;

}

.introText {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.campName {
    color: #000;

    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.addressBox {
    display: flex;
}

.campAddress {
    color: var(--neutral-neutral_400, var(--neutral-400, #ADB0B7));

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.price {
    width: 100%;
    color: #1A2035;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;
    word-wrap: break-word;
    text-align: end;
}