.container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 98px;
    height: 76px;
    flex-shrink: 0;
}

.linkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.companyActive {
    background: var(--primary-600, #4DB635);
    border-radius: 50%;
    display: flex;
}

.my {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.profileImg {
    border-radius: 50%;
}

.logOutBtn {
    background-color: inherit;
    cursor: pointer;
}