.container {
    width: 1200px;

}

.container>p {
    font-size: 32px;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.regionCard {
    width: 200px;
    height: 230px;
    background-color: rebeccapurple;
}