.container {
    width: 1200px;

}

.container>p {
    font-size: 32px;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.regionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.pic {
    border-radius: 16px;
}

.regionCard>p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}