.searchBar {
    display: flex;
    width: 890px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 48px;
    border: 1px solid #000;
    background: var(--base-white, #FFF);
}

.regionSearchInput {
    display: flex;
    width: 264px;
    padding: 10px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 36px;
    background-color: yellowgreen;
}

.regionSearchInput {
    color: #000;

    /* 14px_Regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date {
    display: flex;
    width: 264px;
    padding: 10px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 36px;
}

.people {
    display: flex;
    width: 180px;
    padding: 10px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 36px;
}

.searchBtn {
    cursor: pointer;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 56px;
    background: var(--primary-600, #4DB635);
}