.cardWrap {
    width: 381px;
    position: relative;
}

.likeWrap {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}

.campAddress {
    display: flex;
    align-items: center;
}

.campAddress>p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(173, 176, 183);
    font-size: 16px;
    font-family: Pretendard;
    font-weight: 400;

}

.cardTag {
    margin-top: 12px;
    width: 450px;
    display: flex;
    gap: 5px;
}

.tag {
    cursor: pointer;

    padding: 10px;
    border-radius: 16px;
    border: 1px #D4D5D9 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;


    color: black;
    font-size: 14px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}

.tag:hover {
    background-color: #D4D5D9;
    color: white;
}


.campTitle {
    color: black;
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;
}

.campPrice {
    color: rgb(58, 138, 40);
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 600;
}

.campInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}