.container {
    display: flex;
    justify-content: center;

}

.title {

    height: 29px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.campFilter {
    position: absolute;
    right: 0;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 1200px;
    gap: 16px;
}

.mainHeadercamp {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1200px;
    position: relative;
}

.listWrapper {
    padding: 0 auto;
}

.camplList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.noCamp {
    font-size: 24px
}