.div {
  display: flex;
  gap: 0.5rem;
}

/* .custom-react-datepicker__wrapper {
  width: 100px;
} */

.calendar {
  width: 150px;
  border: 1px solid #404557;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  background-color: var(--primary-600, #ffffff);
}

.abbaccaddff {
  background-color: rebeccapurple;
}

.abbaccaddff > div {
  background-color: white;
  border-radius: 24px;
}

.abbaccaddff > div > div:first-child {
  background: #e2ffdb;
  border: none;
}

.abbaccaddff [aria-selected='true'] {
  background: var(--primary-600, #4db635);
}

.abbaccaddff
  > div
  > div
  > div
  > div
  > div
  > .react-datepicker__day--range-end
  span,
.react-datepicker__day--range-start span {
  position: absolute;
  z-index: 5;
  color: #e3f762 !important;
}

.abbaccaddff .in-selecting-range:not {
  background: var(--primary-600, #4db635);
}

.abbaccaddff
  > div
  > div:last-child
  > div
  > div
  react-datepicker__day
  react-datepicker__day--001 {
  background-color: rebeccapurple;
  color: #4db635;
}

.span {
  font-size: 24px;
  color: #404557;
}
