/* .tr {
  display: flex;
  gap: 1rem;
} */

.td {
  text-align: left;
}

.phone {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  border: 1px solid #e6e6e9;
  border-radius: 0.5rem;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
}
