.h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  gap: 0.5rem;
}
.input-wrapper {
  position: relative;
  display: flex;
  /* align-items: center; */
}

.input {
  width: 380px;
  border: none;
  border-radius: 74px;
  padding: 10px;
  font-size: 18px;
  color: #adb0b7;
  background-color: #e4f6df;
}

.total-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.eraser-btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 37px;
  width: 32px;
  height: 32px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  bottom: 3px;
  right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
}

.cancel-btn {
  border: 1px solid #e6e6e9;
  border-radius: 8px;
  background-color: white;
  padding: 4px 8px;
  cursor: pointer;
}

.cancel-btn:disabled {
  background-color: #e6e6e9;
}

.table {
  width: 800px;
  border-collapse: collapse;
  border-spacing: 0;
}

.th {
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem;
}
