.formLayout {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 46px 0;
}

/* 캠핑장 명 */
.campNameWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.campNameWrap > h3 {
  font-size: 20px;
}
.campNameInput {
  margin-left: 42px;
  border: 1px solid #adb0b7;
  border-radius: 8px;
  height: 40px;
  width: 300px;
  padding: 10px;
}

/* 주소 */
.campAddressWrap {
  display: flex;
  flex-direction: row;
}
.campAddressWrap > h3 {
  font-size: 20px;
}
.addressSearchWrap {
  margin-left: 80px;
}
.addressSearchBtn {
  border-radius: 8px;
  background: #e6e6e9;
  padding: 8px 10px;
  font-size: 12px;
}
.addressSearchInput {
  width: 522px;
  height: 39px;
  border: 1px solid #adb0b7;
  border-radius: 8px;
  margin-top: 8px;
  padding: 10px;
}

/* 캠핑장 소개 */
.campContentWrap > h3 {
  font-size: 20px;
}
.campContentWrap > textarea {
  width: 764px;
  height: 183px;
  padding: 10px;
  border: 1px solid #adb0b7;
  border-radius: 8px;
  margin-top: 12px;
}

/* 시설 등록 */
.h3 {
  font-size: 20px;
}
.facilityWrap {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.facility {
  height: 30px;
}
.facilityLabel {
  font-size: 16px;
  margin-left: 4px;
}

/* 체크인 체크아웃 */
.checkInOutFlexWrap {
  display: flex;
  gap: 72px;
}
.checkInOutFlex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.checkInOutFlex > h3 {
  font-size: 20px;
}
.checkOption {
  font-size: 16px;
  border: 1px solid #adb0b7;
  border-radius: 8px;
  padding: 10px;
}

/* 문의전화 */
.requestCallWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.requestCallWrap > h3 {
  font-size: 20px;
}
.requestCallInput {
  margin-left: 42px;
  border: 1px solid #adb0b7;
  border-radius: 8px;
  height: 40px;
  width: 300px;
  padding: 10px;
}

/* 캠핑장 배치도 등록 */
.uploadLayoutImgBtn {
  display: none;
}
.positionRel {
  position: relative;
}
.positionAbsol {
  position: absolute;
  right: 0;
}

.modalUP {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding: 20px;
}
